@font-face {
    font-family: manrope;
    src: url(assets/font/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: manrope-light;
    src: url(assets/font/static/Manrope-Light.ttf);
}

@font-face {
    font-family: manrope-bold;
    src: url(assets/font/static/Manrope-Bold.ttf);
}

@font-face {
    font-family: manrope-2xbold;
    src: url(assets/font/static/Manrope-ExtraBold.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: manrope;
    scroll-behavior: smooth;
}

.link {
    text-decoration: none;
    color: #666A79;
    transition: all 0.4s;
}

.link::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: -4;
    background-color: black;
    width: 0%;
    height: 1px;
    transition: all 0.5s ease;
}


.link:hover::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: -4;
    background-color: black;
    width: 100%;
    height: 1px;
}

.link-form {
    color: #5042F3;
}

.link-form::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: -4;
    background-color: #5042F3;
    width: 0%;
    height: 1px;
    transition: all 0.5s ease;
}

.link-form:hover::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: -4;
    background-color: #5042F3;
    width: 100%;
    height: 1px;
}

.link-hover {
    width: max-content;
}

.ft-text {
    font-size: 12px;
    color: #a0a3b0;
}

.u-list {
    list-style: none;
}

.sidenav {
    background-color: #fff;
    width: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
    right: 0px;
    transition: all 0.3s;
}

.close-btn-sidenav {
    margin: 25px;
    cursor: pointer;
    font-size: 14px;
}

.sidenav-list li:active {
    color: #5042F3;
}

.s-btn {
    padding: 16px 32px;
    background-color: #a0f000;
    color: black;
    border-radius: 28px;
}

#nav-link,
.nav-drop,
.signup {
    color: #252525;
    font-family: manrope-bold;
}

#nav-link:active {
    color: #5042F3 !important;
}

.c-btn>a {
    padding: 16px 32px;
    background-color: #a0f000;
    color: black;
    border-radius: 28px;
}

.c-btn>a:hover {
    background-color: #BBFE59;
}

.signup-icon,
.nav-drop-btn {
    display: none;
}

.main-heading {
    font-size: 4rem !important;
    font-weight: 800;
    line-height: 4.5rem;

}

.main-para {
    line-height: 22px;
    font-size: 1.25rem !important;
    letter-spacing: .03rem !important;
}

.main-btn {
    background-color: #141414;
    color: white;
    border-radius: 28px;
}

.input {
    width: 60%;
    height: 56px;
    border-radius: 28px;
    outline: none;
    border: none;
    background-color: #F6F6F9;
    padding-left: 25px;

}

.heading {
    font-size: 3rem !important;
    width: 850px;
    font-family: manrope-bold;
}

.card-gallery {
    margin-top: 90px;
}

.b-card {
    border: none;
    padding: 15px 10px;
    background-color: #F6F3FE !important;
    min-height: 300px;
}

.main-img {
    position: absolute;
    top: -10%;
    right: 0%;
}

#card-gallery-btn {
    display: none;
}

#card-last,
.purple-row {
    background-color: #664cf6 !important;
    border-radius: 19px;
}

.arrow-icon {
    width: 32px;
    height: 32px;
    color: #141414;
    border-radius: 50%;
    background-color: #fff;

}

.purple-head {
    font-size: 3rem;
    width: 650px;
}

.banner-heading {
    font-size: 3rem !important;
    line-height: 3.625rem;
    color: #141414;
}

.banner-para {
    color: #616575;
}

.banner-list>ul {
    counter-increment: css-counter 0;
}

.ban-list::after {
    background: #f6f6f9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    content: "0" counter(css-counter);
    counter-increment: css-counter;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
}

.list-contant {
    font-size: 16px !important;
}

.btn-ancor {
    background-color: #141414;
    min-width: 75px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px !important;
    padding: 16px 32px !important;
    border-radius: 35px;
}

.primary-span {
    align-items: center;
    display: flex;
    position: relative;
    height: 32px !important;
    width: 32px !important;
    border-radius: 100px;
    margin: 12px 20px;
    margin-right: -20px;
    overflow: hidden;
    background-color: #ffffff;
}

.primary-arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left .2s, right .2s ease-out;
}

.primary-arrow-icon2 {
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
    transition: left .2s, right .2s ease-out;

}

.btn-ancor:hover .primary-arrow-icon2 {
    left: 50%;
}

.btn-ancor:hover .primary-arrow-icon {
    left: 150%;
}

.btn-ancor:hover {
    background-color: #353740;
}

.banner-heading {
    font-family: manrope-2xbold;
}

.accod {
    background-color: #F6F6F9;
}

.b-btn:hover .primary-arrow-icon2 {
    left: 50%;
}

.b-btn:hover .primary-arrow-icon {
    left: 150%;
}

.frequenthead {
    font-size: 3rem;
    font-weight: 800;
}

.accord-title {
    font-weight: bold;
    padding: 10px 8px;
    cursor: pointer;
}

.accord-contant {
    font-weight: 400;
    padding: 10px 8px;
    overflow: hidden;
    display: none;
}

.accord-hide {
    display: none;
}

.accord-show {
    display: block;
}

.accord-active .accord-contant {
    display: block;
    transition: .3s cubic-bezier(.25, .8, .5, 1);

}

.accord-hr {
    margin-top: 0px;
}

.tablehead {
    font-weight: 600;
    font-size: 18px !important;
}

.table-link {
    color: #5042F3;
}

.table-link::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 1px;
    background-color: #5042F3;
    transition: all 0.3s;

}

.table-link:hover::after {
    width: 50%;
}

.table-content {
    font-weight: 400 !important;
    letter-spacing: 0.06rem;

}

.t-btn {
    background-color: #a0f000;
    color: black;
    margin-top: -4px;
    border-radius: 28px;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
}

.t-btn:hover {
    cursor: pointer;
    background-color: #BBFE59;
}

.table-mdsm-tab {
    display: none;
}

.blog-head {
    font-size: 4rem !important;
}

.blog-para {
    font-size: 1.25rem !important;
    font-weight: 350;
    width: 576px;
}

.blog-img {
    min-height: 211px;
    background-image: url(assets/img/first.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.blog-img2 {
    background-image: url(assets/img/sec.jpg);

}

.blog-img3 {
    background-image: url(assets/img/thrd.png);
}

.blog-img4 {
    background-image: url(assets/img/forth.png);
}

.blog-card {
    border-radius: 15px;
    margin: 25px 0px;
    max-height: 420px;
}

.blog-card:hover {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 38px 62px 0px;
    border: 1px solid #F6F6F9;
}

.blog-title {
    font-size: 1.25rem !important;
    font-family: manrope-bold;
}

.blog-contant {
    letter-spacing: 0.05rem;
}

.invst-para,
.how-purple {
    color: #5042F3;
    font-weight: bold;
    font-size: 1.25rem !important;
}

.invst-head,
.how-head {
    font-weight: bolder;
    font-size: 3rem !important;
    letter-spacing: -.005rem !important;
    line-height: 3.625rem;
    font-family: manrope-2xbold;
}

.incst-rawpara,
.how-para {
    font-size: 1.25rem !important;
    font-weight: 350;
    line-height: 1.75rem;
}

.avail-card {
    background-color: #F6F6F9;
    border-radius: 10px;
}

.cooming-soon {
    left: 30%;
    background-color: #a0f000;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 35px;
}

.info-invest {
    background-color: #F6F6F9;
}

.info-para {
    font-size: 13px !important;
    font-weight: 400;
    letter-spacing: .01rem !important;
    line-height: 18px;
}

.how-card-head {
    font-size: 2rem !important;
    font-weight: 800;
    font-family: manrope-2xbold;
    line-height: 2.625rem;
}

.how-card-para {
    font-size: 1.25rem !important;
    font-weight: 350;
    line-height: 1.75rem;
}

#how-svg {
    top: -13%;
    display: block;
    right: -9.8%;
    z-index: -1;

}


.login {
    height: 56vh !important;
    margin-top: 75px;
}

.form-head {
    font-size: 2rem !important;
    font-weight: bolder;
    font-family: manrope-2xbold;
}

.login-form {
    min-width: 380px !important;
}

.form-input {
    width: 100% !important;
    background-color: #F6F6F9;
    outline: none;
    border: none;
    margin: 10px 0px;
    padding: 15px 18px;
    border-radius: 10px;
}
.form-btn{
    cursor: pointer;
    color: white;
    text-align: center;
    transition: all .4s ease-in-out;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 30px;
    outline: none;
    background-color:black;
    border-radius: 35px;
    border: none;
}
.form-input::placeholder{
    font-size: 14px;
}

.eye{
    right: 4%;
    top: 38%;
    cursor: pointer;
}

@media (max-width:992px) {
    .navbar {
        font-size: 14px;
    }

    .main-heading {
        font-size: 2rem !important;
        font-weight: 800;
        line-height: normal;
    }

    .main-para {
        font-size: 16px !important;
    }

    .input {
        width: 80%;
    }

    .heading {
        font-size: 2.3rem !important;
        width: auto;
        font-family: manrope-bold;
    }

    .main-img {
        display: none !important;
    }

    .table-lg-tab {
        display: none !important;
    }

    .table-mdsm-tab {
        display: unset !important;
        font-size: 14px !important;
    }

    .blog-head {
        font-size: 36px !important;
    }

    .blog-para {
        font-size: 1rem !important;
        font-weight: 350;
        width: 576px;
    }

    .invst-para,
    .how-para {
        font-size: 16px !important;
        line-height: 22px;
    }

    .invst-head,
    .how-head {
        font-size: 28px !important;
        letter-spacing: -.14px !important;
        line-height: 34px;
    }

    .incst-rawpara {
        font-size: 16px !important;
        line-height: 22px;
    }

    .how-card-head {
        font-size: 22px !important;
        font-weight: 800;
        line-height: 30px;
        font-family: manrope-2xbold;
    }

    #how-svg {
        display: none;

    }

    .login-form {
        min-width: 100% !important;
    }

    .login {
        height: 100vh !important;
    }

}

@media (max-width:960px) {

    #nav-nav,
    .signup,
    .c-btn {
        display: none !important;
    }

    .signup-icon,
    .nav-drop-btn {
        display: block;
    }

    .main-btn {
        font-size: 14px !important;
    }

    .input {
        width: 70%;
    }

    .purple-head {
        font-size: 2.1rem;
        width: auto;
    }

    .purple-row {
        border-radius: 0px;
    }

    .banner-para {
        font-size: 14px !important;
    }

    .list-contant {
        font-size: 14px !important;
    }

    .banner-heading {
        font-size: 28px !important;
        line-height: 34px;
        padding-left: 15px;
        margin-top: 20px;
    }

    #card-gallery-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #last-banner-para {
        font-size: 16px !important;
        font-weight: 350;
        line-height: 22px;
        font-family: manrope-light;
    }

    .frequenthead {
        font-size: 28px !important;
    }
}


.footer {
    margin-top: 100px;
}

@media (max-width:600px) {
    .footer {
        font-size: 14px;
    }

    .input {
        display: block;
        width: 100%;
        border-radius: 8px;
        margin: 30px 0px;
    }

    .main-btn {
        position: unset !important;
        text-align: center;
        border-radius: 20px;
    }

    .heading {
        font-size: 28px !important;
    }

    .blog-para {
        width: 284px;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .main-side-img {
        width: 340px;
    }

    .main-img {
        position: absolute;
        top: 5%;
        right: 0%;
    }

    .banner-heading {
        font-size: 24px !important;
        line-height: normal;
    }
}